h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: normal;
    font-size: 28px;
    color: rgb(80, 80, 80);
    
    
}

p {
    text-align: center;
    padding-top: 100px;
    
    
}

.container {
    font-family: 'EB Garamond', serif;
    font-family: 'Libre Baskerville', serif;
    color: #001019;
}

body {
    background-color:rgb(233, 233, 233);
}

