body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}

p {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-family: 'Libre Baskerville', serif;
    padding-top: 15em;
    color: #001019;
}

