* {
	text-decoration: none;
	margin: 0px;
}

html {
	width: 100%;
	height: auto;
    min-height: 100%;
}

body {
	background: linear-gradient(180deg, #001019 18.77%, #492502 348.5%);
	min-height: 100%;
	
}

h1 {
	position: relative;
	letter-spacing: 0.900em;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: normal;
	color: mediumspringgreen;
	padding-top: 60px;
	text-align: center;
	padding-bottom: 6em;	
}

.btn {
	position: relative;
	background-color: rgb(233, 233, 233);
	border-radius: 50px;
	font-size: 25px;
	text-decoration: none;
	cursor: pointer;
	padding: 37px 31px;
	color: rgb(27, 73, 72);
	opacity: 1;
	transition: 0.3s;
	text-align: center;
	font-weight: bolder;
}

.btn:hover {
	opacity: 0.3;
}

.container {
	text-align: center;
}


